<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="style.css">
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap"
      rel="stylesheet">
   <title>Document</title>
</head>

<body>
   <div class="container">
      <header>
         <img src="img/logo.png" alt="">
         <h1>Online Store</h1>
      </header>
      <nav>
         <ul class="breadcrumb">
            <li><a href="#"><img src="img/house-door.svg" alt=""></a></li>
            <li><a href="#">eCommerce</a></li>
            <li>Electronics</li>
         </ul>
      </nav>
      <main>
         <aside>
            <div class="aside-header">
               <h5>Filter</h5>
               <button class="aside-hower">
                  << </button>
            </div>
            <div class="aside-characteristic">
               <h4>Multi Range</h4>
               <form action="#">
                  <input type="radio" id="radioButton1">
                  <label for="radioButton1">$10</label> <br>
                  <input type="radio" id="radioButton2">
                  <label for="radioButton2">$10-$100</label><br>
                  <input type="radio" id="radioButton3">
                  <label for="radioButton3">$100-$500</label><br>
                  <input type="radio" id="radioButton4">
                  <label for="radioButton4">$500</label><br>
                  <input type="radio" id="radioButton5" checked />
                  <label for="radioButton5">All</label>
               </form>
               <hr>
               <h4>Category</h4>
               <div class="aside-category">
                  <div class="category-element">
                     <div class="category-label"><input type="checkbox" id="scales1" name="scales1" checked>
                        <label for="scales1">
                           <span>Cell Phones</span>
                        </label>
                     </div><span>1920</span>
                  </div><br>
                  <div class="category-element">
                     <div class="category-label"><input type="checkbox" id="2" name="2">
                        <label for="2">
                           <span>Computers & Tablets</span>
                        </label>
                     </div><span>1820</span>
                  </div><br>
                  <div class="category-element">
                     <div class="category-label"><input type="checkbox" id="3" name="3">
                        <label for="3">
                           <span> Cell Phone Accessories</span>
                        </label>
                     </div><span>462</span>
                  </div><br>
                  <div class="category-element">
                     <div class="category-label"><input type="checkbox" id="4" name="4">
                        <label for="4">
                           <span>Appliances </span>
                        </label>
                     </div><span>6556 </span>
                  </div><br>
                  <div class="category-element">
                     <div class="category-label"><input type="checkbox" id="5" name="5">
                        <label for="5">
                           <span>Audio </span>
                        </label>
                     </div><span>120 </span>
                  </div><br>
                  <div class="category-element">
                     <div class="category-label"><input type="checkbox" id="6" name="6">
                        <label for="6">
                           <span>iPhone Accessories </span>
                        </label>
                     </div><span>353</span>
                  </div><br>
                  <div class="category-element">
                     <div class="category-label"><input type="checkbox" id="7" name="7">
                        <label for="7">
                           <span>Cameras & Camcorders</span>
                        </label>
                     </div><span>45</span>
                  </div><br>
                  <div class="category-element">
                     <div class="category-label"><input type="checkbox" id="8" name="8">
                        <label for="8">
                           <span>iPhone Cases & Clips</span>
                        </label>
                     </div><span>456</span>
                  </div><br>
                  <div class="category-element">
                     <div class="category-label"><input type="checkbox" id="9" name="9">
                        <label for="9">
                           <span>TV & Home Theater</span>
                        </label>
                     </div><span>55</span>
                  </div><br>
                  <div class="category-element">
                     <div class="category-label"><input type="checkbox" id="10" name="10">
                        <label for="10">
                           <span>Small Kitchen Appliances</span>
                        </label>
                     </div><span>10</span>
                  </div><br>
               </div>
               <hr>
               <h4>Brand</h4>
               <div class="aside-category">
                  <div class="category-element">
                     <div class="category-label"><input type="checkbox" id="scales11" name="scales11" checked>
                        <label for="scales11">
                           <span>Insigni </span>
                        </label>
                     </div><span>220</span>
                  </div><br>
                  <div class="category-element">
                     <div class="category-label"><input type="checkbox" id="12" name="12">
                        <label for="12">
                           <span>Samsung </span>
                        </label>
                     </div><span>120</span>
                  </div><br>
                  <div class="category-element">
                     <div class="category-label"><input type="checkbox" id="13" name="13">
                        <label for="13">
                           <span>Apple</span>
                        </label>
                     </div><span>320</span>
                  </div><br>
                  <div class="category-element">
                     <div class="category-label"><input type="checkbox" id="14" name="14">
                        <label for="14">
                           <span>HP</span>
                        </label>
                     </div><span>32</span>
                  </div><br>
                  <div class="category-element">
                     <div class="category-label"><input type="checkbox" id="15" name="15">
                        <label for="15">
                           <span>Sony </span>
                        </label>
                     </div><span>520</span>
                  </div><br>
                  <div class="category-element">
                     <div class="category-label"><input type="checkbox" id="16" name="16">
                        <label for="16">
                           <span>Metra </span>
                        </label>
                     </div><span>55</span>
                  </div><br>
                  <div class="category-element">
                     <div class="category-label"><input type="checkbox" id="17" name="17">
                        <label for="17">
                           <span>Dyne</span>
                        </label>
                     </div><span>120</span>
                  </div><br>
                  <div class="category-element">
                     <div class="category-label"><input type="checkbox" id="18" name="18">
                        <label for="18">
                           <span>LG</span>
                        </label>
                     </div><span>98</span>
                  </div><br>
                  <div class="category-element">
                     <div class="category-label"><input type="checkbox" id="19" name="19">
                        <label for="19">
                           <span>Canon </span>
                        </label>
                     </div><span>99</span>
                  </div><br>
                  <div class="category-element">
                     <div class="category-label"><input type="checkbox" id="20" name="20">
                        <label for="10">
                           <span>Speck</span>
                        </label>
                     </div><span>575</span>
                  </div><br>
               </div>
            </div>
            <button class="aside-clear"><span>CLEAR ALL FILTERS</span> </button>
         </aside>
         <section class="main-cards">
            <div class="cards-header">
               <h5>7,618 results found</h5>
               <button class="cards-hearts">
                  <img src="img/Path (2).svg" alt=""></button>
            </div>
            <div class="search">
               <input type="text" placeholder="Search..">
            </div>
            <section class="cards">
               <div class="card-background">
                  <section class="card">
                     <div class="card-image">
                        <div class="card-image-padding"><img src="img/jbl-speaker.png" alt="jbl"></div>
                     </div>
                     <header class="card-header">
                        <button class="rating">4. <svg width="15" height="14" viewBox="0 0 15 14" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <path fill-rule="evenodd" clip-rule="evenodd"
                                 d="M7.6981 1L9.69702 4.94953L14.1671 5.58675L10.9326 8.65931L11.6959 13L7.6981 10.9495L3.70025 13L4.4636 8.65931L1.2291 5.58675L5.69918 4.94953L7.6981 1V1Z"
                                 stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                           </svg></button>
                        <div class="price">199$</div>
                     </header>
                     <article class="card-text">
                        <h3>JBL Speaker</h3>
                        <span>Опис Lorem ipsum dolor sit amet. </span>
                     </article>
                     <footer class="card-footer">
                        <button class="wishlist"><svg width="18" height="15" viewBox="0 0 18 15" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <path fill-rule="evenodd" clip-rule="evenodd"
                                 d="M15.4479 2.14929C14.7031 1.41343 13.6926 1 12.6389 1C11.5853 1 10.5748 1.41343 9.82993 2.14929L9.06449 2.90512L8.29906 2.14929C6.74769 0.61741 4.23242 0.617411 2.68105 2.14929C1.12967 3.68118 1.12967 6.16485 2.68105 7.69674L3.44648 8.45256L9.06449 14L14.6825 8.45256L15.4479 7.69674C16.1932 6.96122 16.6119 5.96344 16.6119 4.92302C16.6119 3.88259 16.1932 2.88481 15.4479 2.14929Z"
                                 stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                           </svg>
                           WISHLIST</button>
                        <button class="cart"><svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <path opacity="0.737212" fill-rule="evenodd" clip-rule="evenodd"
                                 d="M4.52471 1L1.6496 4.6V17.2C1.6496 18.1941 2.50775 19 3.56634 19H16.9835C18.0421 19 18.9003 18.1941 18.9003 17.2V4.6L16.0252 1H4.52471Z"
                                 stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                              <path opacity="0.737212" d="M1.6496 5.5H18.9003" stroke="white" stroke-width="2"
                                 stroke-linecap="round" stroke-linejoin="round" />
                              <path opacity="0.737212"
                                 d="M14.5876 9C14.5876 10.6569 12.8981 12 10.814 12C8.7299 12 7.04041 10.6569 7.04041 9"
                                 stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                           </svg>
                           ADD TO CART</button>
                     </footer>
                  </section>
               </div>
               <div class="card-background">
                  <section class="card">
                     <div class="card-image">
                        <div class="card-image-padding"><img src="img/apple-watch.png" alt="apple-watch"></div>
                     </div>
                     <header class="card-header">
                        <button class="rating">4.2 <svg width="15" height="14" viewBox="0 0 15 14" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <path fill-rule="evenodd" clip-rule="evenodd"
                                 d="M7.6981 1L9.69702 4.94953L14.1671 5.58675L10.9326 8.65931L11.6959 13L7.6981 10.9495L3.70025 13L4.4636 8.65931L1.2291 5.58675L5.69918 4.94953L7.6981 1V1Z"
                                 stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                           </svg></button>
                        <div class="price">399$</div>
                     </header>
                     <article class="card-text">
                        <h3>Apple Watch Series 4 GPS</h3>
                        <span>Опис Lorem ipsum dolor sit amet.</span>
                     </article>
                     <footer class="card-footer">
                        <button class="wishlist"><svg width="18" height="15" viewBox="0 0 18 15" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <path fill-rule="evenodd" clip-rule="evenodd"
                                 d="M15.4479 2.14929C14.7031 1.41343 13.6926 1 12.6389 1C11.5853 1 10.5748 1.41343 9.82993 2.14929L9.06449 2.90512L8.29906 2.14929C6.74769 0.61741 4.23242 0.617411 2.68105 2.14929C1.12967 3.68118 1.12967 6.16485 2.68105 7.69674L3.44648 8.45256L9.06449 14L14.6825 8.45256L15.4479 7.69674C16.1932 6.96122 16.6119 5.96344 16.6119 4.92302C16.6119 3.88259 16.1932 2.88481 15.4479 2.14929Z"
                                 stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                           </svg>
                           WISHLIST</button>
                        <button class="cart"><svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <path opacity="0.737212" fill-rule="evenodd" clip-rule="evenodd"
                                 d="M4.52471 1L1.6496 4.6V17.2C1.6496 18.1941 2.50775 19 3.56634 19H16.9835C18.0421 19 18.9003 18.1941 18.9003 17.2V4.6L16.0252 1H4.52471Z"
                                 stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                              <path opacity="0.737212" d="M1.6496 5.5H18.9003" stroke="white" stroke-width="2"
                                 stroke-linecap="round" stroke-linejoin="round" />
                              <path opacity="0.737212"
                                 d="M14.5876 9C14.5876 10.6569 12.8981 12 10.814 12C8.7299 12 7.04041 10.6569 7.04041 9"
                                 stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                           </svg>
                           ADD TO CART</button>
                     </footer>
                  </section>
               </div>
               <div class="card-background">
                  <section class="card">
                     <div class="card-image">
                        <div class="card-image-padding"><img src="img/iphone-x.png" alt="iphone-x"></div>
                     </div>
                     <header class="card-header">
                        <button class="rating">4.4 <svg width="15" height="14" viewBox="0 0 15 14" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <path fill-rule="evenodd" clip-rule="evenodd"
                                 d="M7.6981 1L9.69702 4.94953L14.1671 5.58675L10.9326 8.65931L11.6959 13L7.6981 10.9495L3.70025 13L4.4636 8.65931L1.2291 5.58675L5.69918 4.94953L7.6981 1V1Z"
                                 stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                           </svg></button>
                        <div class="price">899$</div>
                     </header>
                     <article class="card-text">
                        <h3>Apple iPhone X 128GB</h3>
                        <span>Опис Lorem ipsum dolor sit amet.</span>
                     </article>
                     <footer class="card-footer">
                        <button class="wishlist"><svg width="18" height="15" viewBox="0 0 18 15" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <path fill-rule="evenodd" clip-rule="evenodd"
                                 d="M15.4479 2.14929C14.7031 1.41343 13.6926 1 12.6389 1C11.5853 1 10.5748 1.41343 9.82993 2.14929L9.06449 2.90512L8.29906 2.14929C6.74769 0.61741 4.23242 0.617411 2.68105 2.14929C1.12967 3.68118 1.12967 6.16485 2.68105 7.69674L3.44648 8.45256L9.06449 14L14.6825 8.45256L15.4479 7.69674C16.1932 6.96122 16.6119 5.96344 16.6119 4.92302C16.6119 3.88259 16.1932 2.88481 15.4479 2.14929Z"
                                 stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                           </svg>
                           WISHLIST</button>
                        <button class="cart"><svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <path opacity="0.737212" fill-rule="evenodd" clip-rule="evenodd"
                                 d="M4.52471 1L1.6496 4.6V17.2C1.6496 18.1941 2.50775 19 3.56634 19H16.9835C18.0421 19 18.9003 18.1941 18.9003 17.2V4.6L16.0252 1H4.52471Z"
                                 stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                              <path opacity="0.737212" d="M1.6496 5.5H18.9003" stroke="white" stroke-width="2"
                                 stroke-linecap="round" stroke-linejoin="round" />
                              <path opacity="0.737212"
                                 d="M14.5876 9C14.5876 10.6569 12.8981 12 10.814 12C8.7299 12 7.04041 10.6569 7.04041 9"
                                 stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                           </svg>
                           ADD TO CART</button>
                     </footer>
                  </section>
               </div>
               <div class="card-background">
                  <section class="card">
                     <div class="card-image">
                        <div class="card-image-padding"><img
                              src=" https://content2.rozetka.com.ua/goods/images/big_tile/163399632.jpg" alt="">
                        </div>
                     </div>
                     <header class="card-header">
                        <button class="rating">3.8 <svg width="15" height="14" viewBox="0 0 15 14" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <path fill-rule="evenodd" clip-rule="evenodd"
                                 d="M7.6981 1L9.69702 4.94953L14.1671 5.58675L10.9326 8.65931L11.6959 13L7.6981 10.9495L3.70025 13L4.4636 8.65931L1.2291 5.58675L5.69918 4.94953L7.6981 1V1Z"
                                 stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                           </svg></button>
                        <div class="price">399$</div>
                     </header>
                     <article class="card-text">
                        <h3>Ноутбук Acer Aspire 3</h3>
                        <span>Опис Lorem ipsum dolor sit amet.</span>
                     </article>
                     <footer class="card-footer">
                        <button class="wishlist"><svg width="18" height="15" viewBox="0 0 18 15" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <path fill-rule="evenodd" clip-rule="evenodd"
                                 d="M15.4479 2.14929C14.7031 1.41343 13.6926 1 12.6389 1C11.5853 1 10.5748 1.41343 9.82993 2.14929L9.06449 2.90512L8.29906 2.14929C6.74769 0.61741 4.23242 0.617411 2.68105 2.14929C1.12967 3.68118 1.12967 6.16485 2.68105 7.69674L3.44648 8.45256L9.06449 14L14.6825 8.45256L15.4479 7.69674C16.1932 6.96122 16.6119 5.96344 16.6119 4.92302C16.6119 3.88259 16.1932 2.88481 15.4479 2.14929Z"
                                 stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                           </svg>
                           WISHLIST</button>
                        <button class="cart"><svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <path opacity="0.737212" fill-rule="evenodd" clip-rule="evenodd"
                                 d="M4.52471 1L1.6496 4.6V17.2C1.6496 18.1941 2.50775 19 3.56634 19H16.9835C18.0421 19 18.9003 18.1941 18.9003 17.2V4.6L16.0252 1H4.52471Z"
                                 stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                              <path opacity="0.737212" d="M1.6496 5.5H18.9003" stroke="white" stroke-width="2"
                                 stroke-linecap="round" stroke-linejoin="round" />
                              <path opacity="0.737212"
                                 d="M14.5876 9C14.5876 10.6569 12.8981 12 10.814 12C8.7299 12 7.04041 10.6569 7.04041 9"
                                 stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                           </svg>
                           ADD TO CART</button>
                     </footer>
                  </section>
               </div>
               <div class="card-background">
                  <section class="card">
                     <div class="card-image">
                        <div class="card-image-padding"><img
                              src=" https://content2.rozetka.com.ua/goods/images/big_tile/163399632.jpg" alt="">
                        </div>
                     </div>
                     <header class="card-header">
                        <button class="rating">3.8 <svg width="15" height="14" viewBox="0 0 15 14" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <path fill-rule="evenodd" clip-rule="evenodd"
                                 d="M7.6981 1L9.69702 4.94953L14.1671 5.58675L10.9326 8.65931L11.6959 13L7.6981 10.9495L3.70025 13L4.4636 8.65931L1.2291 5.58675L5.69918 4.94953L7.6981 1V1Z"
                                 stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                           </svg></button>
                        <div class="price">399$</div>
                     </header>
                     <article class="card-text">
                        <h3>Ноутбук Acer Aspire 3</h3>
                        <span>Опис Lorem ipsum dolor sit amet.</span>
                     </article>
                     <footer class="card-footer">
                        <button class="wishlist"><svg width="18" height="15" viewBox="0 0 18 15" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <path fill-rule="evenodd" clip-rule="evenodd"
                                 d="M15.4479 2.14929C14.7031 1.41343 13.6926 1 12.6389 1C11.5853 1 10.5748 1.41343 9.82993 2.14929L9.06449 2.90512L8.29906 2.14929C6.74769 0.61741 4.23242 0.617411 2.68105 2.14929C1.12967 3.68118 1.12967 6.16485 2.68105 7.69674L3.44648 8.45256L9.06449 14L14.6825 8.45256L15.4479 7.69674C16.1932 6.96122 16.6119 5.96344 16.6119 4.92302C16.6119 3.88259 16.1932 2.88481 15.4479 2.14929Z"
                                 stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                           </svg>
                           WISHLIST</button>
                        <button class="cart"><svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <path opacity="0.737212" fill-rule="evenodd" clip-rule="evenodd"
                                 d="M4.52471 1L1.6496 4.6V17.2C1.6496 18.1941 2.50775 19 3.56634 19H16.9835C18.0421 19 18.9003 18.1941 18.9003 17.2V4.6L16.0252 1H4.52471Z"
                                 stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                              <path opacity="0.737212" d="M1.6496 5.5H18.9003" stroke="white" stroke-width="2"
                                 stroke-linecap="round" stroke-linejoin="round" />
                              <path opacity="0.737212"
                                 d="M14.5876 9C14.5876 10.6569 12.8981 12 10.814 12C8.7299 12 7.04041 10.6569 7.04041 9"
                                 stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                           </svg>
                           ADD TO CART</button>
                     </footer>
                  </section>
               </div>
               <div class="card-background">
                  <section class="card">
                     <div class="card-image">
                        <div class="card-image-padding"><img
                              src=" https://content2.rozetka.com.ua/goods/images/big_tile/163399632.jpg" alt="">
                        </div>
                     </div>
                     <header class="card-header">
                        <button class="rating">3.8 <svg width="15" height="14" viewBox="0 0 15 14" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <path fill-rule="evenodd" clip-rule="evenodd"
                                 d="M7.6981 1L9.69702 4.94953L14.1671 5.58675L10.9326 8.65931L11.6959 13L7.6981 10.9495L3.70025 13L4.4636 8.65931L1.2291 5.58675L5.69918 4.94953L7.6981 1V1Z"
                                 stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                           </svg></button>
                        <div class="price">399$</div>
                     </header>
                     <article class="card-text">
                        <h3>Ноутбук Acer Aspire 3</h3>
                        <span>Опис Lorem ipsum dolor sit amet.</span>
                     </article>
                     <footer class="card-footer">
                        <button class="wishlist"><svg width="18" height="15" viewBox="0 0 18 15" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <path fill-rule="evenodd" clip-rule="evenodd"
                                 d="M15.4479 2.14929C14.7031 1.41343 13.6926 1 12.6389 1C11.5853 1 10.5748 1.41343 9.82993 2.14929L9.06449 2.90512L8.29906 2.14929C6.74769 0.61741 4.23242 0.617411 2.68105 2.14929C1.12967 3.68118 1.12967 6.16485 2.68105 7.69674L3.44648 8.45256L9.06449 14L14.6825 8.45256L15.4479 7.69674C16.1932 6.96122 16.6119 5.96344 16.6119 4.92302C16.6119 3.88259 16.1932 2.88481 15.4479 2.14929Z"
                                 stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                           </svg>
                           WISHLIST</button>
                        <button class="cart"><svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <path opacity="0.737212" fill-rule="evenodd" clip-rule="evenodd"
                                 d="M4.52471 1L1.6496 4.6V17.2C1.6496 18.1941 2.50775 19 3.56634 19H16.9835C18.0421 19 18.9003 18.1941 18.9003 17.2V4.6L16.0252 1H4.52471Z"
                                 stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                              <path opacity="0.737212" d="M1.6496 5.5H18.9003" stroke="white" stroke-width="2"
                                 stroke-linecap="round" stroke-linejoin="round" />
                              <path opacity="0.737212"
                                 d="M14.5876 9C14.5876 10.6569 12.8981 12 10.814 12C8.7299 12 7.04041 10.6569 7.04041 9"
                                 stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                           </svg>
                           ADD TO CART</button>
                     </footer>
                  </section>
               </div>
               <div class="card-background">
                  <section class="card">
                     <div class="card-image">
                        <div class="card-image-padding"><img src="img/jbl-speaker.png" alt="jbl"></div>
                     </div>
                     <header class="card-header">
                        <button class="rating">4. <svg width="15" height="14" viewBox="0 0 15 14" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <path fill-rule="evenodd" clip-rule="evenodd"
                                 d="M7.6981 1L9.69702 4.94953L14.1671 5.58675L10.9326 8.65931L11.6959 13L7.6981 10.9495L3.70025 13L4.4636 8.65931L1.2291 5.58675L5.69918 4.94953L7.6981 1V1Z"
                                 stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                           </svg></button>
                        <div class="price">199$</div>
                     </header>
                     <article class="card-text">
                        <h3>JBL Speaker</h3>
                        <span>Опис Lorem ipsum dolor sit amet. </span>
                     </article>
                     <footer class="card-footer">
                        <button class="wishlist"><svg width="18" height="15" viewBox="0 0 18 15" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <path fill-rule="evenodd" clip-rule="evenodd"
                                 d="M15.4479 2.14929C14.7031 1.41343 13.6926 1 12.6389 1C11.5853 1 10.5748 1.41343 9.82993 2.14929L9.06449 2.90512L8.29906 2.14929C6.74769 0.61741 4.23242 0.617411 2.68105 2.14929C1.12967 3.68118 1.12967 6.16485 2.68105 7.69674L3.44648 8.45256L9.06449 14L14.6825 8.45256L15.4479 7.69674C16.1932 6.96122 16.6119 5.96344 16.6119 4.92302C16.6119 3.88259 16.1932 2.88481 15.4479 2.14929Z"
                                 stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                           </svg>
                           WISHLIST</button>
                        <button class="cart"><svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <path opacity="0.737212" fill-rule="evenodd" clip-rule="evenodd"
                                 d="M4.52471 1L1.6496 4.6V17.2C1.6496 18.1941 2.50775 19 3.56634 19H16.9835C18.0421 19 18.9003 18.1941 18.9003 17.2V4.6L16.0252 1H4.52471Z"
                                 stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                              <path opacity="0.737212" d="M1.6496 5.5H18.9003" stroke="white" stroke-width="2"
                                 stroke-linecap="round" stroke-linejoin="round" />
                              <path opacity="0.737212"
                                 d="M14.5876 9C14.5876 10.6569 12.8981 12 10.814 12C8.7299 12 7.04041 10.6569 7.04041 9"
                                 stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                           </svg>
                           ADD TO CART</button>
                     </footer>
                  </section>
               </div>
               <div class="card-background">
                  <section class="card">
                     <div class="card-image">
                        <div class="card-image-padding"><img src="img/apple-watch.png" alt="apple-watch"></div>
                     </div>
                     <header class="card-header">
                        <button class="rating">4.2 <svg width="15" height="14" viewBox="0 0 15 14" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <path fill-rule="evenodd" clip-rule="evenodd"
                                 d="M7.6981 1L9.69702 4.94953L14.1671 5.58675L10.9326 8.65931L11.6959 13L7.6981 10.9495L3.70025 13L4.4636 8.65931L1.2291 5.58675L5.69918 4.94953L7.6981 1V1Z"
                                 stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                           </svg></button>
                        <div class="price">399$</div>
                     </header>
                     <article class="card-text">
                        <h3>Apple Watch Series 4 GPS</h3>
                        <span>Опис Lorem ipsum dolor sit amet.</span>
                     </article>
                     <footer class="card-footer">
                        <button class="wishlist"><svg width="18" height="15" viewBox="0 0 18 15" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <path fill-rule="evenodd" clip-rule="evenodd"
                                 d="M15.4479 2.14929C14.7031 1.41343 13.6926 1 12.6389 1C11.5853 1 10.5748 1.41343 9.82993 2.14929L9.06449 2.90512L8.29906 2.14929C6.74769 0.61741 4.23242 0.617411 2.68105 2.14929C1.12967 3.68118 1.12967 6.16485 2.68105 7.69674L3.44648 8.45256L9.06449 14L14.6825 8.45256L15.4479 7.69674C16.1932 6.96122 16.6119 5.96344 16.6119 4.92302C16.6119 3.88259 16.1932 2.88481 15.4479 2.14929Z"
                                 stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                           </svg>
                           WISHLIST</button>
                        <button class="cart"><svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <path opacity="0.737212" fill-rule="evenodd" clip-rule="evenodd"
                                 d="M4.52471 1L1.6496 4.6V17.2C1.6496 18.1941 2.50775 19 3.56634 19H16.9835C18.0421 19 18.9003 18.1941 18.9003 17.2V4.6L16.0252 1H4.52471Z"
                                 stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                              <path opacity="0.737212" d="M1.6496 5.5H18.9003" stroke="white" stroke-width="2"
                                 stroke-linecap="round" stroke-linejoin="round" />
                              <path opacity="0.737212"
                                 d="M14.5876 9C14.5876 10.6569 12.8981 12 10.814 12C8.7299 12 7.04041 10.6569 7.04041 9"
                                 stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                           </svg>
                           ADD TO CART</button>
                     </footer>
                  </section>
               </div>
               <div class="card-background">
                  <section class="card">
                     <div class="card-image">
                        <div class="card-image-padding"><img src="img/iphone-x.png" alt="iphone-x">
                        </div>
                     </div>
                     <header class="card-header">
                        <button class="rating">4.4 <svg width="15" height="14" viewBox="0 0 15 14" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <path fill-rule="evenodd" clip-rule="evenodd"
                                 d="M7.6981 1L9.69702 4.94953L14.1671 5.58675L10.9326 8.65931L11.6959 13L7.6981 10.9495L3.70025 13L4.4636 8.65931L1.2291 5.58675L5.69918 4.94953L7.6981 1V1Z"
                                 stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                           </svg></button>
                        <div class="price">899$</div>
                     </header>
                     <article class="card-text">
                        <h3>Apple iPhone X 128GB</h3>
                        <span>Опис Lorem ipsum dolor sit amet.</span>
                     </article>
                     <footer class="card-footer">
                        <button class="wishlist"><svg width="18" height="15" viewBox="0 0 18 15" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <path fill-rule="evenodd" clip-rule="evenodd"
                                 d="M15.4479 2.14929C14.7031 1.41343 13.6926 1 12.6389 1C11.5853 1 10.5748 1.41343 9.82993 2.14929L9.06449 2.90512L8.29906 2.14929C6.74769 0.61741 4.23242 0.617411 2.68105 2.14929C1.12967 3.68118 1.12967 6.16485 2.68105 7.69674L3.44648 8.45256L9.06449 14L14.6825 8.45256L15.4479 7.69674C16.1932 6.96122 16.6119 5.96344 16.6119 4.92302C16.6119 3.88259 16.1932 2.88481 15.4479 2.14929Z"
                                 stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                           </svg>
                           WISHLIST</button>
                        <button class="cart"><svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <path opacity="0.737212" fill-rule="evenodd" clip-rule="evenodd"
                                 d="M4.52471 1L1.6496 4.6V17.2C1.6496 18.1941 2.50775 19 3.56634 19H16.9835C18.0421 19 18.9003 18.1941 18.9003 17.2V4.6L16.0252 1H4.52471Z"
                                 stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                              <path opacity="0.737212" d="M1.6496 5.5H18.9003" stroke="white" stroke-width="2"
                                 stroke-linecap="round" stroke-linejoin="round" />
                              <path opacity="0.737212"
                                 d="M14.5876 9C14.5876 10.6569 12.8981 12 10.814 12C8.7299 12 7.04041 10.6569 7.04041 9"
                                 stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                           </svg>
                           ADD TO CART</button>
                     </footer>
                  </section>
               </div>
            </section>
         </section>
      </main>
   </div>
</body>

</html>